@import '../../shared/styles/button.styles.scss';
.modal {
  //width: 500px;
  max-width: 90%;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.modal__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

.mat-form-field-outline {
  border-radius: 4px;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  button {
    font-size: 14px;
    font-weight: 500;
    //padding: 8px 16px;
    border-radius: 8px;
    text-transform: none;
  }

  button[mat-button] {
    background: #f3f3f3;
    color: #333;
    border: 1px solid #ccc;
  }

  button[mat-button]:hover {
    background: #e0e0e0;
  }

  button[mat-raised-button] {
    background: #1976d2; /* Основний синій колір */
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  button[mat-raised-button]:hover {
    background: #155a9c; /* Трохи темніший відтінок */
  }

  button:disabled {
    background: #e0e0e0 !important;
    color: #9e9e9e !important;
    cursor: not-allowed;
    box-shadow: none !important;
  }
}




