<h1>User management</h1>
<app-user-list [users]="users"></app-user-list>
<mat-paginator
  [length]="totalUsers"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)">
</mat-paginator>


<!--<mat-card appearance="outlined">-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>-->
<!--      <h1>User management</h1>-->
<!--    </mat-card-title>-->
<!--  </mat-card-header>-->
<!--  <mat-card-actions>-->
<!--    <button mat-button>Learn More</button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
<!--<br>-->
<!--<mat-card appearance="outlined">-->
<!--  <mat-card-header>-->
<!--    <app-user-list [users]="users"></app-user-list>-->
<!--  </mat-card-header>-->
<!--  <mat-card-actions align="end">-->
<!--    <mat-paginator-->
<!--      [length]="totalUsers"-->
<!--      [pageSize]="5"-->
<!--      [pageSizeOptions]="[5, 10, 20]"-->
<!--      (page)="onPageChange($event)">-->
<!--    </mat-paginator>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
