button.btn-action {
  background-color: #1E96FC;
  color: #ffffff;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
button.btn-action-cancel {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #1E96FC;
  font-family: 'Inter', 'sans-serif';
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #1E96FC;
}
